@import "styles/reset.css";

body {
  background-color: #f0f323;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.imgWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.mainImage {
  background-image: url("https://via.placeholder.com/1366x980");
  /* background-color: #818fb9; */
  width: 1268px;
  height: 768px;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* left: 0; */
  /* top: 0; */
  background-position: center;
  background-size: cover;
  animation: imgScale 10s ease-in-out infinite;
  margin: auto;
}

@keyframes imgScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 30px;
  font-family: "Noto Sans KR", "나눔고딕", "NanumGothic", "Nanum Gothic", "돋움",
    dotum, sans-serif;
  font-size: 100%;
}

.logoImage {
  background-image: url("https://www.designpixel.co.kr/img/common/main_logo_white.png");

  width: 158px;
  height: 26px;
}

.bar {
  position: absolute;
  top: 42px;
  right: 35px;
  border: 0;
  outline: 0;
  background: 0;
  display: block;
  width: 64px;
  height: 69px;
}

.icon {
  position: static;
}

.l1 {
  top: 8px;
}
.l2 {
  top: 17px;
}
.l3 {
  top: 26px;
}
.line {
  position: absolute;
  width: 28px;
  transition-delay: 0.05s;
  background: white;
  height: 2px;
  right: 20px;
}

.menu {
  color: #fff;
  text-transform: uppercase;
  font-family: "Futura_M", "Noto Sans KR";
  position: absolute;
  right: 15px;
  top: 40px;
  transition: opacity 0.4s 0.25s, transform 0.4s;
}
