/* COMMON */
:root {
  --color-main: #838fb9;
  --color-white: #dbdbdb;
  --background-color: #eff2f9;
  --background-white: #fcfcfc;
  --background-black: #272727;
  --color-black: #191919;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: #dbdbdb;
  font-weight: 400;
  line-height: 1.4;
  font-family: NanumSquare, sans-serif;
  margin: auto;
}
body::-webkit-scrollbar {
  display: none;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
.inner {
  max-width: 1200px;
  margin: auto;
  position: relative;
}
