.total {
    float: center;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.name {
    line-height: 1.8;
    font-size: 28px;
    padding: 50px 0px 0px 719px
}
.name1 {
    padding: 0px 0px 0px 390px;
    font-size: 20px;
    line-height: 1.8;
}
.name2 {
    padding: 0px 0px 0px 440px;
    font-size: 20px;
}