header {
    padding : 150px 843px 100px 843px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    color : rgb(93, 93, 202);
    font-family: 'Times New Roman', Times, serif
}
span {
    padding : 1px 2px 3px 4px;
}
div {
    font-size: 30px;
    text-align: center;
    line-height: 1.8;
}